@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;

}


     /* <!-- ======================================== 
                  style Section Start
          ========================================  -->  */

/* Row Component */

.rowPosters::-webkit-scrollbar {
    display: none;
  }
  
  .rowPoster {
    transition: transform 450ms;
  }
  .rowPoster:hover {
    transform: scale(1.08);
  }
  
  /* .rowPosterLarge */
  
  .rowPosterLarge {
    max-height: 250px;
  }
  .rowPosterLarge:hover {
    transform: scale(1.09);
  }
  
  /* Header Component  section*/
  
  .btn {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    background: rgb(51, 51, 51, 0.5);
  }
  
  .btn:hover {
    color: #000;
    background: #e6e6e6;
    transition: 0.2s;
  }
  
  .headerFade {
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgb(37, 37, 37, 0.61),
      #111
    );
  }
  
  /* Navbar Component  section*/
  .nav {
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }
  
  .nav_scroll {
    --tw-shadow-color: #ffffff;
    --tw-shadow: var(--tw-shadow-colored), 0 1px 2px -1px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  
    background: #000;
  }
  
